/node_modules
/bower_components
/lib
/dist
*~
/test/*.js
/core.*
/fs
/fs_*
/lib-dist
/.tmp
/bench/*.js
/app/elements/**/*.js
*.aux
*.bbl
*.log
*.blg
*.dvi
/report.out
/results
/benchfs
/examples/meme-service/frontend/fs/meme-service.js
/examples/latex-editor/fs/usr/bin
